<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/home.css">
    <title>MSE database</title>
    <link rel="icon" type="image/png" href="http://www.pngmart.com/files/5/Movie-PNG-Transparent-Image.png" />
</head>
<body class="container">
    <header class="jumbotron">
        <h1 class="display-4 text-center">MSE Database</h1>
        <h6 class="text-center">Find your favorite TV show in no time...</h6>
    </header>
    <div class="row">
        <div class="md-form mx-auto m-3 col-md-6">
            <form action="/" method="get">
                <input required class="form-control" type="text" placeholder="Search for movie..." aria-label="Search" name="movie">
                <button class="btn btn-primary mt-2 col-md-12 mx-auto col-12">Search</button>
            </form>
        </div>
    </div>
